version: '3.7'

name: demo

# Add a new microservice docker-compose to the full stack
include:
  - app/webnuxt/docker-compose.yaml
  - app/backend/docker-compose.yaml

services:

  shell:
    profiles: [debug]
    image: alpine:latest
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    networks:
      - dapr-net

  # Dapr placement service
  placement:
    image: "docker.io/daprio/dapr"
    command: ["./placement", "-port", "50006"]
    ports:
      - "50006:50006"
    networks:
      - dapr-net
  # Dapr state and pubsub provider
  redis:
    image: "docker.io/redis:7-alpine"
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "no", "--maxmemory", "500mb", "--maxmemory-policy", "allkeys-lru"]
    networks:
      - dapr-net
  # Dapr metrics provider
  zipkin:
    image: "docker.io/openzipkin/zipkin"
    ports:
      - "9411:9411"
    networks:
      - dapr-net
  # Grafana OTEL collector, metrics, traces and logs. TODO: update dapr/config.yaml to wire this up
  grafana-otel:
    profiles: [observability]
    image: "docker.io/grafana/otel-lgtm"
    ports:
      - "3002:3000"
    networks:
      - dapr-net
  # Dapr dashboard
  dapr-dashboard:
    image: "docker.io/daprio/dashboard:latest"
    command: [ "--docker-compose=true",
      "--components-path=/home/nonroot/components",
      "--config-path=/home/nonroot/config",
      "--docker-compose-path=/home/nonroot/docker-compose.yaml" ]
    ports:
      - "8080:8080"
    volumes:
      - "./dapr/components/:/home/nonroot/components"
      - "./dapr/config/:/home/nonroot/config"
      - "./app/:/app/app"
      - ./docker-compose.yaml:/home/nonroot/docker-compose.yaml
    networks:
      - dapr-net

  # Shared db
  postgres:
    image: "docker.io/postgres:17-alpine"
    ports:
      - "5432:5432"
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - dapr-net

volumes:
  db-data:

networks:
  dapr-net: # here we set the network name
    driver: bridge
